@page "/Login"
@using Photr_LBPrjoect.Controller
@using BusinessLogic
@using Common
@using Photr_LBPrjoect.Model

<PageTitle>Login</PageTitle>
<h1>Login</h1>
<p>
	<label>Username</label>
	<input @bind="@username"></input>
</p>
<p>
	<label>Password</label>
	<input @bind="@password"></input>
</p>
<p>
	<button @onclick="@LoginFunction">Login</button>
</p>
@if (!string.IsNullOrWhiteSpace(labelText))
{
	<label>@labelText</label>
}
@if (loggedInUser != null)
{
	<button @onclick="@LogOut">Logout</button>
}


@code {
	BusinessLogic.Helper helper = new BusinessLogic.Helper(false);
	string labelText = string.Empty;
	string username = string.Empty;
	string password = string.Empty;
	UserDb loggedInUser = new UserDb();
	public void LoginFunction()
	{
		loggedInUser = null;
		labelText = string.Empty;
		try
		{
			List<UserDb> user = helper.GetSpecificData<UserDb>(whereData: username, whereStatement: nameof(UserDb.Username), andData: password, andStatement: nameof(UserDb.Password)).ToList();
			if (user.Count() != 0)
			{
				loggedInUser = user.FirstOrDefault();
				labelText = "Wilkommen " + loggedInUser.Username + " !";
			}
			else
			{
				labelText = "User konnte nicht gefunden Werden.";
			}
		}
		catch
		{
			labelText = "Fehler beim erstellen der Verbindung zu der Datenbank";
		}
	}
	public void LogOut()
	{
		loggedInUser = null;
	}

}
