@page "/Login"
@using Photr_LBPrjoect.Controller
@using BusinessLogic
@using Common
@using Photr_LBPrjoect.Model

<PageTitle>Login</PageTitle>

<div class="container-fluid">
	<div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
				<h1 style="width:100%" class="text-center">Login</h1>
				<p>
					<label style="width:100%">Username</label>
					<input style="width:100%" @bind="@username"></input>
				</p>
				<p>
					<label style="width:100%">Password</label>
					<input style="width:100%" @bind="@password"></input>
				</p>
				<div class="text-center">
					<p>
						<button @onclick="@LoginFunction">Login</button>
					</p>

					@if (!string.IsNullOrWhiteSpace(labelText))
					{				
						<label>@labelText</label>
					}
					@if (loggedInUser != null)
					{
						<button class="text-center" @onclick="@LogOut">Logout</button>
					}
				</div>
				


			</div>
            <div class="col-4"></div>
        </div>
	</div>
</div>





@code {
	BusinessLogic.Helper helper = new BusinessLogic.Helper(false);
	string labelText = string.Empty;
	string username = string.Empty;
	string password = string.Empty;
	User loggedInUser = new User();
	public void LoginFunction()
	{
		loggedInUser = null;
		labelText = string.Empty;
		try
		{
			//List<User> user = helper.GetSpecificData<User>(whereData: username, whereStatement: nameof(User.Username), andData: password, andStatement: nameof(User.Password)).ToList();
			List<User> user = new List<User>(){new User()
			{
				Id = 1,
				Username = "testuser",
				Password = "testpw"
			}};
			if (user.Count() != 0)
			{
				loggedInUser = user.FirstOrDefault();
				labelText = "Wilkommen " + loggedInUser.Username + " !";
			}
			else
			{
				labelText = "User konnte nicht gefunden Werden.";
			}
		}
		catch
		{
			labelText = "Fehler beim erstellen der Verbindung zu der Datenbank";
		}
	}
	public void LogOut()
	{
		loggedInUser = null;
	}

}
